body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(img/backnight.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    color: white;
}

#conteiner{
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgb(19, 19, 19, 0.800);
    width: 500px;
    margin: auto;
    padding: 10px;

}
#msg{
    text-align: center;
}

#foto img{
    
    margin: 15px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-left: 30%;
}

footer{
    text-align: center;

    font-style: italic;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer a{
    text-decoration: none;
    color: white;
    text-shadow: 3px 4px 4px rgb(0, 0, 0);
}

@media screen and (max-width: 760px) {
    #conteiner{
        width: 350px;
    }
    #foto img{
        margin-left: 25%;
    }
}